@tailwind base;
@tailwind components;
@tailwind utilities;

.icon{
    display: none;
}

@media (max-width: 1026px){
    .icon{
        display: block;
    }
    #display{
        display: flex;
    }
    #mobile-menu-2{
        display: none;
    }
    #display-menu{
        display: block !important;
        }
        #display-button{
            display: none ;
        }
}
#display-none{
    display: none;
}
#display-menu{
display: none;
}